body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ececec;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
