body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}


    .container {
    width: 300px; /* Set a fixed width for the container */
    min-height: 200px; /* Add a minimum height of 200px */
    position: absolute; /* Take the container out of the normal flow */
    top: 50%; /* Move the container 50% down from the top */
    left: 50%; /* Move the container 50% from the left */
    transform: translate(-50%, -50%); /* Move the container back up and left by 50% of its own width and height */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}


#task-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

/* Ensure the list items use flexbox to manage spacing */
/* Styling for the task item list */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Optional spacing between task items */
}

/* Container for the buttons */
li div {
    display: flex;
    align-items: center;
    margin-left: 10px;/* Removes the gap between buttons */
}

/* Styling for edit and delete buttons */
.edit-btn, .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

/* Optional hover effect */
.edit-btn:hover, .delete-btn:hover {
    color: #007BFF;
}
#clear-all-btn {
    padding: 10px;
    cursor: pointer;
    margin-top: 10px; /* Add some space between the task list and the button */
}
#add-task-btn, #clear-all-btn {
    display: inline-block;
  }
  
  #clear-all-btn {
    margin-left: 10px;
  }

  .green-btn {
    background-color: #34C759;
    color: #fff;
   
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #000;
}

.red-btn {
    background-color: #FF3737;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
